*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    /* background-color: #2d3436;
    background-image: linear-gradient(315deg, #000000 0%, #2d3436 34%); */
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    background-color: #0d0d0d;
    font-family: Roboto;
    color: white;
    font-size: 14px;
}

p {
    margin: 0;
}

a {
    z-index: 150;
}

@media (min-width: 650px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 900px) {
    html {
        font-size: 18px;
    }
}

.container {
    width: 99%;
    max-width: 800px;
    margin: 0 auto;
}


/* Styling the search bar and categories */
.search-bar {
    border-radius: .5em;
    background-color: #1a1a1a;
    width: 100%;
    padding: .7em .5em;
    color: #999999;
    margin-top: 2em;
}

.search-input {
    height: 100%;
    width: 80%;
    background: none;
    border: none;
    font-size: 1.5rem;
    padding-left: .5em;
    color: #999999;
}

.search-input:focus {
    outline: none;
    border: 3px solid #999999
}

button {
    background: none;
    border: none;
}

.fa-magnifying-glass {
    font-size: 1.5rem;
    color: #999999;
}

h1 {
    color: #999999;
    margin: 0;
    padding-top: .4em;
    padding-bottom: .4em;
    padding-left: .2em;
}

h1 span:nth-of-type(1) {
    color: white;
}

h1 span {
    padding-right: .3em;
    font-size: 1.7rem;
}


/* Styling the movie tiles */
.movie-tiles-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.poster {
    width: 100%;
}

.backdrop,
.poster {
    padding: .2em;
    border-radius: .5em;
}

.backdrop {
    width: 100%;
    padding-bottom: 0;
}

.backdrop-container {
    text-align: center;
}


.backdrop-container,
.movie-list-item {
    position: relative;
}
  
.backdrop-title {
    position: absolute;
    bottom: 16px;
    left: 16px;
    margin: 0;
    text-shadow: 3px 3px 2px rgba(2, 0, 0, 1);
}

.backdrop-bookmark {
    position: absolute;
    top: 4px;
    right: 15px;
}

.poster-container {
    position: relative;
    width: 25%;
}

.poster-bookmark {
    position: absolute;
    top: 4px;
    right: 15px;
}

.list-bookmark {
    position: absolute;
    top: 15px;
    left: 44px;
}

.backdrop-bookmark,
.poster-bookmark,
.list-bookmark {
    cursor: pointer;
}

@media (min-width: 530px) {
    .list-bookmark {
        top: 15px;
        left: 54px;
    }
}

@media (min-width: 650px) {
    .list-bookmark {
        top: 16px;
        left: 60px;
    }
}

.bookmarked {
    color: #ff5900;
}


/* search results */
.search-bar {
    position: relative;
}

.search-results {
    display: none;
    position: absolute;
    left: .0em;
    z-index: 100;
    background-color: #1a1a1a;
    width: 100%;
    height: 400px;
    overflow: scroll;
    border-radius: .5em;
    padding: 1em .75em;
    max-width: 500px;
    overflow: hidden;
}

.movie-list-item {
    display: grid;
    grid-template-columns: minmax(60px, 80px) 85%;
    grid-template-areas: 
    "poster date"
    "poster title"
    "poster overview";
    grid-column-gap: .5em;
    padding-top: 1em;
    padding-right: .5em;
    cursor: pointer;
}

.list-item-poster {
    width: 100%;
    grid-area: poster;
    border-radius: .5em;
}

.list-item-date {
    color: red;
    grid-area: date;
    font-size: .8rem;
    padding-top: .5rem;
}

.list-item-title {
    color: white;
    font-size: 1rem;
    grid-area: title;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-item-overview {
    color: #999999;
    grid-area: overview;
    font-size: .8rem;
    padding-bottom: .5rem;
}

.fa-xmark {
    display: none;
    font-size: 1.5rem;
    color: #999999;
}

/* Styling the watchlist */
.watchlist-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
}

/* Styling the links */
a:link {
    text-decoration: none;
  }
  
/* visited link */
a:visited {
color: inherit;
text-decoration: none;
}

/* mouse over link */
a:hover {
cursor: pointer;
text-decoration: none;
}

/* selected link */
a:active {
color: inherit;
text-decoration: none;
}

